body{
    padding: 10px;
    background-color: burlywood;
}
.create{
    padding-bottom: 100px;
}

ul li.done{
    text-decoration:line-through;
    color: red;
}
/*.col-sm-8{
    padding: 50px;
}*/

.card{
    height: 600px;
    opacity: .8;

}